@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    /* background-color: #542342; */
    background-image: url(images/lettersbackground.jpg);
    color:white;
    font-family: 'Roboto Slab', serif;
    font-weight:300;
    padding-top:50px;
}

.main-container {
    margin-top:100px;
}

.con-1-row-1 {
    margin-top:40px;
    margin-bottom:40px;
}

.con-1-row-2 {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.standings-container {
    margin-top: 100px;
}

.con-2-row-1 {
    margin-bottom: 40px;
}

.roster-container {
    margin-top:100px;
    margin-bottom: 100px;
}

.con-3-row-1 {
    margin-bottom:40px;
}

.footer-container {
    margin-top: 100px;
    background-color: black;
    height:50px;
    display:flex;
    justify-content: center;
    text-align:center;
}

.card{
    transition: all 1s;
}

.card:hover {
    transform: scale(1.1);
}

.footer {
    padding-top:10px;
}

:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
  }
  
  
.card {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
}
  
.btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source:  var(--gradient) !important; 
    text-decoration: none;
    transition: all .4s ease;
}

.btn:hover, .btn:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important; 
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
}

.ig-link {
    text-decoration: none;
}


.container-about-us {
    margin-top: 100px;
}

.con-4-row-2 {
    margin-top: 40px;
}